<template>
  <div id="app">
    <div class="navbar">
      <img src="./assets/logo.png">
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  @import 'assets/css/style.scss';
  @import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700")
</style>
