<template>
  <div class="blog">
    <p>{{blog.show}}</p>
    <router-link :to="{ name: 'Details', params: { blogDetails: blog } }">
      <div class="content">
        <h3>{{blog.title}}</h3>
        <p>{{blog.text | truncate(100, '...')}}</p>
        <hr>
        <div class="details">
          <div class="labels">
            <p>Posted By<span>Category</span></p>
          </div>
          <p>{{blog.author}}<span>{{blog.category}}</span></p>
        </div>
      </div>
    </router-link>
    <hr>
  </div>
</template>

<script>
export default {
  props: {
    blog: Object
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
