<template>
  <div class="browse-page">
    <h1>{{ title }}</h1>
    <div class="search">
      <input type="text" class="search-input" v-model="search" @keyup="searchText" placeholder="Search blog posts by text..." />
    </div>
    <div class="filter">
      <div class="categories">
        <h3>Filter by Categories</h3>
        <div class="category" v-for="(category, index) in uniqueCategories" v-bind:key="index" @click="selectCategory(category)">
          {{category}}
        </div>
      </div>
      <p class="reset-filter" @click="resetFilter">reset filter</p>
    </div>
    <hr>
    <div class="blog-posts">
      <div class="blog-container">
        <div v-for="blog in showBlogs" v-bind:key="blog.id">
          <Blog :blog="blog" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Blog from './Blog'
import blogData from '../assets/json/data.json'

export default {
  components: {
    Blog
  },
  computed: {
    uniqueCategories: function () {
      var categories = []

      this.blogs.articles.forEach(function (article) {
        var key = article.category
        if (categories.indexOf(key) === -1) {
          categories.push(key)
        }
      })
      return categories
    },
    showBlogs: function () {
      var blogs = []
      var searchString = this.searchString
      var selectedCategory = this.selectedCategory
      this.blogs.articles.forEach(function (article) {
        var match = false
        if (searchString !== ' ' && article.text.toLowerCase().includes(searchString.toLowerCase())) {
          match = true
        }
        if (selectedCategory !== '' && article.category.toLowerCase() !== selectedCategory.toLowerCase()) {
          match = false
        }
        if (selectedCategory === '' && searchString === '') {
          match = true
        }

        if (match) {
          blogs.push(article)
        }
      })
      return blogs
    }
  },
  methods: {
    searchText () {
      this.searchString = this.search
    },
    selectCategory (category) {
      this.selectedCategory = category
    },
    resetFilter () {
      this.selectedCategory = ''
      this.search = ''
      this.searchString = ''
    }
  },
  data () {
    return {
      title: 'Browse our Blogs',
      blogs: blogData,
      search: '',
      searchString: '',
      selectedCategory: ''
    }
  }
}
</script>

<style scoped>

</style>
