<template>
  <div class="blog-details-container">
    <h1>{{ title }}</h1>
    <div class="details">
      <div class="detail-panel">
        <div class="detail-group">
          <label>Author</label>
          <p>{{ blogDetails.author }}</p>
        </div>
        <div class="detail-group">
          <label>Category</label>
          <p>{{ blogDetails.category }}</p>
        </div>
      </div>
      <div class="content-panel">
        <div class="content">
          <h2>{{ blogDetails.title }}</h2>
          <hr>
          <p class="text">{{ blogDetails.text }}</p>
          <hr>
        </div>
        <div class="comments">
          <h3>{{ blogDetails.comments.length > 0 && !emptyComments ? blogDetails.comments.length : 'No' }} User Comments</h3>
          <div v-if="!emptyComments">
            <div class="comment" v-for="(comment, index) in blogDetails.comments" v-bind:key="index">
              <p class="author"><span><strong>{{comment.author}}</strong></span></p>
              <p class="message"><i>{{comment.text}}</i></p>
            </div>
          </div>
          <div v-else>
            <p class="no-comments">No Messages yet&emsp;|&emsp;Be the first to post a message.</p>
          </div>
          <div class="comment-section">
            <input type="text" name="new-comment" v-model="userComment" placeholder="Enter your message here..." />
            <button type="button" @click="newMessage">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blogDetails: Object
  },
  methods: {
    newMessage () {
      if (this.userComment !== '') {
        var index = this.emptyComments ? 0 : this.blogDetails.comments.length
        this.emptyComments = false
        this.blogDetails.comments[index] = {id: 1, author: 'maurice', text: this.userComment}
        this.userComment = ''
      }
    }
  },
  data () {
    return {
      title: 'Blog Details',
      userComment: '',
      emptyComments: (JSON.stringify(this.blogDetails.comments) === JSON.stringify([{}])) ? 1 : 0
    }
  }
}
</script>

<style scoped>

</style>
