@import '_variables';

body {
    background: $background;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none
}

#app {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $main;
    padding: 20px 0;
    max-width: 1024px;
    margin: auto;
    margin-top: 100px;

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: $main;
        border-bottom: 5px solid $secondary;
        box-shadow: 0 10px 20px -10px rgba(0,0,0,.5);
        z-index: 2;

        img {
            height: calc(100% - 20px);
            padding: 10px 0;
        }
    }
}

h1 {
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    background: $secondary;
    padding: 10px;
    color: $text;
    width: max-content;
    padding: 5px 50px;
    margin: auto;
    margin-top: 10px;
    text-transform: uppercase;
}

h3 {
    font-weight: 500;
    font-size: 14px;
    color: $secondary;
}

p {
    font-weight: 300;
    font-size: 12px;
    color: $text;
    padding: 0 30px;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #e6b728;
}

hr {
    border: 0.5px solid rgba(255,255,255,.1);
    margin: 20px 0 0;
}

.browse-page {

    .search {
        background: $main;
        border: none;
        font-size: 12px;
        padding: 5px;
        width: max-content;
        margin: auto;
        margin-top: 20px;

        .search-input {
            background: $text;
            border: none;
            font-size: 10px;
            padding: 10px 50px;
            text-align: center;
        }
    }

    .filter {
        width: min-content;
        margin: auto;

        &:hover {
            h3 {
                opacity: 5;
            }

            .categories {
                height: 50px;

                .category {
                    opacity: .8;
                }
            }
        }

        h3 {
            line-height: 20px;
            margin: 0;
            font-size: 8px;
            color: $text;
            opacity: .3;
            transition: .3s opacity;
        }

        .categories {
            background: $main;
            border-radius: 0 0 5px 5px;
            width: max-content;
            height: 25px;
            overflow: hidden;
            transition: .3s height;
            
            .category {
                font-size: 8px;
                line-height: 30px;
                display: inline;
                padding: 5px 20px;
                margin: 5px;
                background: $secondary;
                color: $inverse;
                font-weight: 500;
                border-radius: 5px;
                text-transform: uppercase;
                cursor: pointer;
                opacity: .5;
                transition: .3s opacity;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .reset-filter {
            font-size: 8px;
            line-height: 10px;
            text-transform: uppercase;
            color: $bright;
            cursor: pointer;
        }
    }

    .blog-container {
        
        .blog {
            display: block;
            float: left;
            padding: 20px;
            padding-bottom: 0;
            width: calc(33.33% - 40px);
            height: auto;
            opacity: .9;
            transition: .3s opacity;

            @media screen and (max-width: 768px) {
                width: calc(100% - 40px);
            }

            &:hover {
                opacity: 1;
            }

            a {
                text-decoration: none;
            }

            .content {
                height: 170px;
                overflow: hidden;
                background: $inverse;
                padding: 5px 20px;

                h3 {
                    font-size: 14px;

                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                    }
                }
                
                p {
                    color: black;
                    text-align: left;
                    font-size: 12px;
                    max-height: 45px;
                    overflow: hidden;
                }

                hr {
                    border: 0.5px solid rgba(0,0,0,.1);
                    margin: 20px 0 15px;
                }

                .details, .labels {
                    text-transform: uppercase;
                    width: 100%;
                    text-align: left;

                    p {
                        font-size: 10px;
                        margin-top: 0;
                        
                        span {
                            float: right;
                        }
                    }
                }

                .labels {
                    p {
                        color: $secondary;
                        font-size: 8px;
                        margin: 20px 0 5px;
                    }
                }
            }
        }
    }
}

.blog-details-container {
        
    .details {
        margin-top: 30px;

        .detail-panel {
            float: left;
            background: $secondary;
            width: 100%;
            padding: 20px 0px;
            border-radius: 3px;
        }

        .content-panel {
            float: right;
            width: 100%;
        }

        .detail-group {
            width: calc(50% - 2px);
            float: left;
            
            &:first-child {
                border-right: 2px solid rgba(0,0,0,.1);
            }
    
            label {
                font-size: 10px;
                color: $text;
                opacity: .5;
                line-height: 20px;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                color: $text;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
        }

        .content {
            padding-top: 30px;

            h2 {
                margin: 0 0 30px;
                font-size: 20px;
                color: $text;
                font-weight: 500;
            }

            hr {
                margin-bottom: 30px;
            }

            .text {
                font-size: 12px;
                line-height: 30px;
                text-align: justify;
            }
        }

        .comments {
            background: $inverse;
            border-radius: 5px;
            padding: 10px 30px;
            margin-bottom: 30px;

            @media screen and (max-width: 768px) {
                padding: 10px 0;
            }

            h3 {
                color: $main;
                padding-bottom: 20px;
                margin-bottom: 20px;
                box-shadow: 0 10px 10px -10px $shadow;
            }

            .comment {
                color: $main;
                font-size: 10px;
                text-transform: none;
                text-align: left;
                margin: 30px 0;

                .author {
                    color: $secondary;
                    text-transform: uppercase;
                    font-size: 10px;
                    margin: 0 0 5px 0;
                }

                .message {
                    color: $main;
                    margin: 0;
                }
            }

            .no-comments {
                color: $main;
                font-size: 12px;
                line-height: 20px;
                opacity: .5;

                @media screen and (max-width: 768px) {
                    font-size: 10px;
                    padding: 0;
                }
            }

            .comment-section {
                padding-top: 20px;
                margin-top: 20px;
                box-shadow: 0 -10px 10px -10px $shadow;
                padding: 20px 30px;

                input {
                    width: calc(100% - 70px);
                    display: inline;
                    border: none;
                    font-size: 10px;
                    line-height: 20px;
                    background: $main;
                    color: $text;
                    padding: 10px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                button {
                    width: 50px;
                    float: right;
                    border: none;
                    font-size: 10px;
                    line-height: 20px;
                    background: $secondary;
                    color: $text;
                    font-weight: 700;
                    padding: 10px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    opacity: .8;
                    cursor: pointer;
                    transition: .3s opacity;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}